<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Productscanner"
        tools:targetApi="31">

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".AddItemActivitiy"
            android:exported="false"
            android:label="@string/title_activity_add_item_activitiy" />
        <activity
            android:name=".EditItemActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_item" />
        <activity
            android:name=".EinkaufslisteActivity"
            android:exported="false"
            android:label="@string/title_activity_einkaufsliste" />
        <activity
            android:name=".DatabaseActivity"
            android:exported="false"
            android:label="@string/title_activity_database" />
        <activity
            android:name=".FilterActivity"
            android:exported="false"
            android:label="@string/title_activity_filter" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Productscanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanActivity" />
        <activity android:name=".InfoActivity" />
        <activity
            android:name=".BarcodeInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_barcode_info" />
        <activity
            android:name=".ImageInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_image_info" />
    </application>

</manifest>
